<div class="flex flex-1 flex-wrap lg:flex-nowrap gap-2 mb-4 items-baseline">
  <%= form.label :title, "Наименование справочника:", class: "font-medium min-w-64" %>
  <%= form.text_field :title, class: "form-input grow", placeholder: "Наименование для телефонного справочника" %>
</div>

<%# <div class="flex flex-1 flex-wrap lg:flex-nowrap gap-2 mb-4 items-baseline"> %>
  <%#= form.label :default_page, "Контакты по умолчанию:", class: "font-medium min-w-64" %>
  <%# options = {contacts: "Все контакты", favorites: "Избранные", sessions: "Запоминать"} %>
  <%#= form.select :default_page, options.invert, {}, class: "form-input grow", data: { controller: "tom-select" } %>
<%# </div> %>