@media (max-height: 400px) {
  body {
    padding: 0 !important;
    header, footer {
      position: inherit !important;
    }
    #search {
      padding-top: 8px !important;
      top: 0 !important;
    }
  }
}
@media (max-width: 992px) {
  header nav.d-flex {
    font-size: 1.8rem;
  }
}