p Привет #{@resource.email}!
p Кто-то запросил ссылку для изменения вашего пароля. Сделать это можно по ссылке ниже.
p = link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token)
p Если вы этого не запрашивали, не обращайте внимания на это письмо.
p Ваш пароль не изменится, пока вы не перейдете по ссылке выше и не создадите новый.