p Привет #{@resource.email}!
p Ваша учетная запись заблокирована из-за слишком большого количества неудачных попыток входа.
p Щелкните ссылку ниже, чтобы разблокировать учетную запись:
p = link_to 'Разблокировать', unlock_url(@resource, unlock_token: @token)
