<footer class="tall:fixed bottom-0 left-0 right-0 bg-white border-t">
  <div class="mx-auto max-w-screen-xl flex justify-center md:justify-between px-4 py-2 text-[0.875rem]">
    <p class="hidden md:block">Телефонный справочник Администрации города Твери</p>
    <p class="text-center">© Телефонный справочник, 2013 - 2024 [версия 3.5]</p>
  </div>
</footer>