footer.fixed-bottom.border-top
  #foother.container.py-2.d-lg-flex.flex-row
    p.m-0.small.flex-fill.d-none.d-lg-block = !Phonebook.config.title.blank? && Phonebook.config.title || ""
    p.m-0.small.text-center © Телефонный справочник, 2013 - 2022 [версия #{Rails.application.config.version}]