<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="icon" href="/favicon.ico">
    <title>phonebook3-client</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer="defer" type="module" src="/js/chunk-vendors.cd53855c.js"></script>
    <script defer="defer" type="module" src="/js/app.ce2e5997.js"></script>
    <script defer="defer" type="module" src="/js/browser.21e3b30c.js"></script>
    <link href="/css/chunk-vendors.0833f3cd.css" rel="stylesheet">
    <link href="/css/app.1617baca.css" rel="stylesheet">
    <script defer="defer" src="/js/chunk-vendors-legacy.7ae4e2cd.js" nomodule></script>
    <script defer="defer" src="/js/app-legacy.1abba008.js" nomodule></script>
    <script defer="defer" src="/js/browser-legacy.a0ceea5d.js" nomodule></script>
  </head>
  <body>
    <noscript>
      <strong>Извените, phonebook3-client не работает без включенной поддержки JavaScript. Пожалуйста включите и продожите.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
