<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="icon" href="/favicon.ico">
    <title>phonebook3-client</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer="defer" src="/js/chunk-vendors.9a08d2ea.js"></script>
    <script defer="defer" src="/js/app.d3c50ac5.js"></script>
    <link href="/css/chunk-vendors.cc486695.css" rel="stylesheet">
    <link href="/css/app.c510a237.css" rel="stylesheet">
  </head>
  <body>
    <noscript>
      <strong>Извените, phonebook3-client не работает без включенной поддержки JavaScript. Пожалуйста включите и продожите.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
